.main-page{
    margin: 20px;
    color: white;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 40px;
  max-width: 1100px;
  margin: 0 auto;
}

.about-photo img {
  width: 350px;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.about-text {
  flex: 1;
  color: white;
  font-size: 25px;
    text-align: justify;
    margin: 20px;
}