.navigation-bar{
    background-color: #282c34;
    border-bottom: 1px solid #b8e3f5;
    align-items: center;
}
 
Link{
    text-decoration: none;
    align-items: center;
}


.nav-logo{
    height: 50px;

}

.nav-link{
    padding: 20px;
    margin-right:10px;
    height: 60px;
    align-items: center;
    color: #b8e3f5; 
    font-size: 30px;  
    background-color: transparent;
    border: none;
    font-family: 'Assistant', sans-serif;

}

.first-button{
    border-left: 0px;
    border-bottom: 0px;
    padding: 0px;
    align-items: center;
}

.nav-link:hover{
    color: #b8e3f5;
    text-decoration: underline;
    text-decoration: bold;
    cursor: pointer;
}