.navigation-bar{
    background-color: #282c34;
    border-bottom: 1px solid #b8e3f5;
    align-items: center;
    flex-wrap: nowrap;
    display: flex;
}
 
Link{
    text-decoration: none;
    align-items: center;
}


.nav-logo{
    height: 60px;

}

.nav-link{
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-right:10px;
    height: 50px;
    align-items: center;
    color: #b8e3f5; 
    font-size: 30px;  
    background-color: transparent;
    border: none;
    font-family: 'Assistant', sans-serif;

}

.first-button{
    border-left: 0px;
    border-bottom: 0px;
    padding: 0px;
    align-items: center;
}

.nav-link:hover{
    color: #b8e3f5;
    text-decoration: underline;
    text-decoration: bold;
    cursor: pointer;
}

.sign-in-button{
    border-radius: 20px;
    background-color: #363c47;
}

.signed-in{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    padding: 0 10px;
    font-size: 20px;
}

.nav-links{
    display: flex;
    align-items: center;
    flex-grow: 1;

}