.App {
  text-align: center;

}

body{
  align-items: right;
  background-color: #282c34;
  font-family: 'Assistant', sans-serif;
  
}

.App-logo {
  height: 40vh;
  align-items: center;
  justify-content: center;
  /* display: flex; */
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.main-page{
  margin: 20px;
  color: white;
}

h3{
  color: white;
}

h1{
  margin: 20px;
    color: white;
}
